.team {
    background:#F5F4FA;
    &-block {
        display: flex;
        justify-content: space-between;
    }
}

.specialist {
    background:var (--color-white);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &-block {
        padding:30px 0;
    }
    &-title {
        text-transform: capitalize;
    }
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    fill:var(--color-white);
    &-item {
        border-radius:50%;
        margin-right: 10px;
    }
    &-link {
        display: block;
        padding: 12px;
        border-radius:50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link:hover, &-link:focus {
        background-color:var(--color-hover);
    }
    .social-link:hover .social-logo,
    .social-link:focus .social-logo{
        display: block;
        fill: #ffffff;
    }
    &-logo {
        fill:#AFB1B8;
        display: block; 
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}